@import 'sass-bootstrap/lib/bootstrap';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main, #map-app {
  height: 100%;
}

#search-region {
  background-color: #ffcaca;
  height: 5%;
}

#map-region {
  height: 95%;
}

#map {
  height: 100%
}

#tools-region {
  .btn {
    width: 65px;
    height: 50px;
    position: absolute;
    bottom: 25px;
  }
}

#mark_position {
  right: 100px;
}

#locate {
  right: 25px;
}

.leaflet-container a {
  color: inherit !important;
}

.leaflet-popup-content {
  margin: 13px !important;
}

#spot_form, .leaflet-popup-content {
  width: 22.5em !important;
}

#spot_form {
  .spot_title {
    font-size: 14px;
  }

  .form-horizontal {
    .control-group {
      margin-bottom: 12px;

      .help-block {
        padding-top: 0.52em;
      }
    }

    label {
      width: 57px;
      font-size: 0.93em;
    }

    .controls {
      margin-left: 62px;
    }

    input, textarea, .uneditable-input {
      width: 191px;
    }

    .upload-manager .fileinput-button i {
      background: url("../bower_components/sass-bootstrap/img/glyphicons-halflings.png");
      background-position: -408px -95px;
    }

    .upload-manager div.progress {
      margin-bottom: 5px;
      min-height: 1px;
    }
  }
}

label abbr.presentation {
  font-weight: bold;
}