<div id="search-region">
	<form action="{{url}}" class="form-horizontal" method="post">
		<input id="search" type="text" placeholder="Bspw. Frankfurt Hauptbahnhof" name="search" class="form-control">
		<button type="submit" class="btn btn-primary">Suche</button>
	</form>
</div>
<div id="map-region">
</div>
<div id="tools-region">
</div>