<div class="span7"><span class="name"><%= name %></span></div>
<div class="span5">
    <span class="size"><%= displaySize(size) %></span>
    <div class="progress span7 hidden">
        <div class="progress-label"></div>
        <div class="bar"></div>
    </div>
	<span class="message"><button class="btn btn-danger btn-mini icon-remove" id="btn-cancel"></button></span>
</div>
