<div class="popover-content" id="file-list">
	<span class="btn btn-block btn-small fileinput-button" id="fileinput-button">
		<i class="icon-plus"></i>
		<span>Fotos hinzufügen</span>
		<input id="fileupload" type="file" name="properties[attachments][]" multiple="multiple">
	</span>
	<div id="uploader-feedback" class="message error"></div>
</div>
